
.navbar {
    background-color: chocolate;
}
.produtos {
    background-color: darkgray;
}

.Sobre-Nos {
    background-color: darkcyan;
}

.margin {
    padding-top: 50px;
    margin-bottom: 50px;
}
body{
    font: 20px Arial, sans-serif;
    background:#947b8e;
    margin-left: 30px;
    margin-right: 30px;
}
header {
    margin-top: 50px;
}

h1 {
    color: black;
    font-family: Arial;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;

}

img { /* margem abaixo da foto */
    margin-bottom: 20px;
}